<div class="parallax bg1">

  <div class="caption">
      <span class="border">Sa nasim materijalima postajete jedan od najboljih studenata</span>
  </div>

</div>
<!-- <img src="../../../assets/AppPictures/AlgoritmiProgramiranje.jpeg" class="slika /">
<img src="../../../assets/AppPictures/DistribuiraniSistemi.jpg"  />
  <img src="../../../assets/AppPictures/MIKS.jpg"  />
  <img src="../../../assets/AppPictures/softversko.jpg"  />
  <img src="../../../assets/AppPictures/WebProgramiranje.jpg"  />
   -->
   <div class="div1">
     <h3 class="text-center">O materijalima</h3>
     <p>
         Nikada nije bilo lakse spremiti ispit nego sada.
         Sa nasim materijalima ce vam svaki ispit ici kao od sale.
         Mi smo se potrudili i sklopili smo sve materijale na jednom mestu tako da je vase samo da ucite.
         Napravite sami svoje blankete,takmicite se sa vrsnjacima i jos mnogo toga drugog vas ceka u vasoj avanturi
         polaganja ispita.Svi materijali su pazljivo izabrani tako da imate pristup najboljim materijalima u svako vreme
         na svakom mestu.Mi smo tu za vas bez obzira u bilo koje vreme da vam izadjemo u susret sa vasim pitanjima.
     </p>
   </div>
   <div class="bela-greska">
<div class="centriraj">
<div class="Kontejner">
  <div class="mySlides">
      <div class="numbertext">1/5</div>
      <img src="../../../assets/AppPictures/AlgoritmiProgramiranje.jpeg" class="slika"/>

  </div>
  <div class="mySlides">
      <div class="numbertext">2/5</div>
  <img src="../../../assets/AppPictures/DistribuiraniSistemi.jpg"   class="slika"/>

  </div>
  <div class="mySlides">
      <div class="numbertext">3/5</div>
      <img src="../../../assets/AppPictures/MIKS.jpg"   class="slika"/>

  </div>
  <div class="mySlides">
      <div class="numbertext">4/5</div>
    <img src="../../../assets/AppPictures/softversko.jpg"   class="slika"/>

  </div>
  <div class="mySlides">
      <div class="numbertext">5/5</div>
      <img src="../../../assets/AppPictures/WebProgramiranje.jpg"  class="slika" />

  </div>
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
  <div class="caption-container">
  <p id="caption"></p>
      </div>
      <div class="red">
          <div class="kolona">
              <img class="demo cursor" (click)="currentSlide(1)"
              src="../../../assets/AppPictures/AlgoritmiProgramiranje.jpeg" alt="Algoritmi i programiranje"/>
              </div>
               <div class="kolona">
              <img class="demo cursor" (click)="currentSlide(2)"
              src="../../../assets/AppPictures/DistribuiraniSistemi.jpg" alt="Distribuirani sistemi"/>
              </div>
               <div class="kolona">
              <img class="demo cursor" (click)="currentSlide(3)" alt="Mikroracunarski sistemi"
              src="../../../assets/AppPictures/MIKS.jpg"/>
              </div>
               <div class="kolona">
              <img class="demo cursor" (click)="currentSlide(4)" alt="Softversko inzinjerstvo"
              src="../../../assets/AppPictures/softversko.jpg"/>
              </div>
               <div class="kolona">
              <img class="demo cursor" (click)="currentSlide(5)" alt="Web programiranje"
              src="../../../assets/AppPictures/WebProgramiranje.jpg"/>
              </div>

      </div>

</div>
</div>
</div>
<div class="div1 margina">
     <h3 class="text-center">Zasto uciti?</h3>
     <p>
        Malo se sada potrudite pa cete posle uzivati u zivotu.Salim se,ne ide sve bas tako
        Sad se mucis uci,ucis i ucis.Taman kad mislis da je sve gotovo dodje muz/zena,deca i novi problemi
        i opet ajde na jednu stranu cas na drugu stranu i tako sve u krug dok ti glava na ispadne.Posle kad dodje starost
        ajde kod lekara,ajde ajde ovaj lek ajde onaj,bol u ledjima i tako dalje.Ali i posle svega toga ipak se isplati uciti>
        Samo ti uci!
     </p>
   </div>
   <!--Zemlja koja se okrece -->
   <div class="earth-demo">
<div class="earth">
<div class="more-info">
<h3>Zasto bas ja mora da ucim ovoliko na celoj planeti!?</h3>
<ul>
<li>Nacice te dobar posao u IT</li>
<li>Stano cete raditi na sebi</li>
<li>Ucinicete sebe uspesnijom osobom</li>
</ul>

</div>
<img src="https://cssanimation.rocks/images/random/earth.png">
</div>
<div class="moon-container">
<div class="moon">
<img src="https://cssanimation.rocks/images/random/moon.png">
</div>
</div>
</div>
<div class="parallax bg2 ">


</div>
<div class="zadnjiDiv">

  <div class="box"><div class="mali">
  Ono što smo naucili, nije mnogo, ali ono što nismo je neizmerno.
  </div>
  <div class="mali">
 U informatičkom društvu znanje nije čast i privilegija, već glavni resurs za rast i profit.
  </div>
  <div class="mali">
  Ne učimo za školu, nego za život.
  </div>


    <div class="glass"></div>
    <div class="glass"></div>
  </div>
      <div>

      </div>
</div>
