<div class="container">
  <form method="post" ngForm #forma="ngForm" >
  <div class="white-mode col-lg-8 col col-md-10 col-sm-12 blanket"
  [ngClass]="isChecked ? 'dark-mode' : 'white-mode' " [hidden]="isKocka">


 <input  id="skuppitanja" name="skupPitanja" ngModel #skupPitanja="ngModel" value=""/>
 <input  id="skupodgovora" name="skupOdgovora" ngModel #skupOdgovora="ngModel" value="" />

<div class="form-group">
<label for="nmaterijala">Naziv materijala:</label>
<input  id="nmaterijala" name="nazivMaterijala" ngModel #nazivMaterijala="ngModel" class="form-control "/>
<span class="text-danger mt-2 mb-2" id="nazivMaterijala"></span>
</div>
<div class="form-group">
<label for="pmaterijala">Predmet materijala:</label>
<input  id="pmaterijala" class="form-control " name="predmetMaterijala" ngModel #predmetMaterijala="ngModel" />
<span class="text-danger mt-2 mb-2" id="predmetMaterijala"></span>
</div>
<div class="form-group" id="izaberiBrojPitanja" *ngIf="!isButtonClicked">
<label>Unesiti bro pitanja koji zelite da dodate:</label>
<input  class="form-control brojPitanja" type="number"/>
<span class="text-danger mt-2 mb-2" id="greskaBrojPitanja"></span>
</div>
<div class="ZaPitanja">


</div>
<div class="dugmici" *ngIf="isButtonClicked">
<a class="btn btn-danger mr-2 mb-3" (click)="obrisiPitanje()">Obrisi jedno pitanje</a>
<a class="btn btn-primary mb-3" (click)="dodajPitanje()">Dodaj jedno pitanje</a>
</div>
<div class="sumbitFormu" *ngIf="isButtonClicked">
<a class="btn btn-info mt-2" (click)="prikaziKocku()">Napravi mi blanket</a>

</div>


      <app-d3-button (clicked)="napraviPitanja($event)" *ngIf="!isButtonClicked"></app-d3-button>

            <!-- 3D Checkbox-->
          <app-d3-checkbox (checked)="promeni($event)"></app-d3-checkbox>
    <!-- 3D kocka-->
   </div>

          <div *ngIf="isKocka">
            <h3   class="bg-primary rounded mt-5 p-3">Vas blanket je zapamcen.Kliknite na kocku da nastavite</h3>
      <div class="mojaKocka mb-5" >
         <div class="cube">
             <span></span>
             <span></span>
              <span></span>
               <button  type="submit" class="submitForma" (click)="submitForm(forma)" ></button>

      </div>
    </div>

    </div>

    </form>




  </div>

