<div class="container ">

      <div class="row mt-5">

          <div class="col-md-5 " >
  <div class="row justify-content-start mt-5 text-white"><h1>RII</h1></div>
  <div class="row justify-content-center mt-1 text-white"><h2>Jedinstvena aplikacija za pomoc ucenju

  </h2></div>

  <div >
    <div *ngIf="user==null">
  <div class="row justify-content-start mb-3">
      <a  class="btn btn-primary mr-1 text-dark" routerLink="/register">Registruj se</a>
      <a class="btn btn-primary ml-1 text-dark" routerLink="/login">Uloguj se</a>
  </div>
  <div class="row mb-3"><span class="text-white">ili</span></div>
</div>
</div>

  <div class="row mt-3">  <a class="btn btn-danger  text-dark"  routerLink="/vodic" >

      Zapocni kratak vodic kroz aplikaciju</a></div>
  </div>

</div>
