<div id="prvi">
  <span><video src="../../../assets/AppPictures/cover.mp4" autoplay="" muted="" loop=""></video></span>

   <section>
       <div class="box">

           <div>
           <span><video src="../../../assets/AppPictures/cover.mp4" autoplay="" muted="" loop=""></video></span>
           <span><video src="../../../assets/AppPictures/cover.mp4" autoplay="" muted="" loop=""></video></span>
           <span><video src="../../../assets/AppPictures/cover.mp4" autoplay="" muted="" loop=""></video></span>
        </div>

       </div>
   </section>
   </div>
