/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid{
  border-color: red;
}
body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.pozadina-register{
  background: url("assets/AppPictures/register.jpg") no-repeat center center fixed;
  background-size:cover;

}
.pozadina-login{
  background: url("assets/AppPictures/login.jpg") no-repeat center center fixed;
  background-size: cover;

}
.pozadina-home{
  background: url("assets/AppPictures/home.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pozadina-napravi-blanket{
  background: url("assets/AppPictures/backmat.jpeg") no-repeat center center fixed;
  background-size: cover;


}
.pozadina-moji-blanketi{
  background: url("assets/AppPictures/pozadinaBela.jpg") no-repeat center center fixed;
  background-size: cover;


}
.pozadina-baza-blanketa{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,83,227,1) 20%, rgba(0,212,255,1) 100%);


}
.pozadina-komentarisi-blanket{
  background: url("assets/AppPictures/komentari.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

