/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid{
  border-color: red;
}
body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.pozadina-register{
  background-image: url("assets/AppPictures/register.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pozadina-login{
  background-image: url("assets/AppPictures/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pozadina-home{
  background-image: url("assets/AppPictures/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pozadina-napravi-blanket{
  background-image: url("assets/AppPictures/backmat.jpeg");
  background-size: cover;
  background-repeat: repeat;

}
.pozadina-moji-blanketi{
  background-image: url("assets/AppPictures/pozadinaBela.jpg");
  background-size: cover;
  background-repeat: repeat;

}
.pozadina-baza-blanketa{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,83,227,1) 20%, rgba(0,212,255,1) 100%);


}

